<h1>Editar Evento</h1>
<%= form_with scope: :event, url: events_path, local: true do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Date %><br>
    <%= form.date_select :date %>
  </p>

  <p>
    <%= form.submit 'Guardar' %>
  </p>
<% end %>
<%= link_to 'Volver', events_path %>