
<%= link_to 'Nuevo Evento', new_event_path %>
<h3 class="mb-30">Listados de Eventos</h3>
<% @events.each do |event|%>
    <div class="">Nombre:  <%= event.name %></div>
    <div class="">Fecha: <%= event.date %></div>
    <div class="visit"><%= link_to 'Ver', event_path(event) %>  </div>
    <div class="visit"> <%= link_to 'Editar', edit_event_path(event) %></div>
    <div class="visit"> <%= link_to 'Borrar', event_path(event), method: :delete, data:{confirm: 'SegurE?'} %> </div>
    <hr>
<% end %>



