<h1>Evento</h1>
<h2 class="ml-2"><strong><%= @event.name%></strong> el <%= @event.date%></h2>
<%= link_to 'Editar', edit_event_path(@event), {:class=>"genric-btn primary circle arrow" } %>


<h3>Lista de quienes van</h3>

<% @event.people.each do |person| %>
    <p>
      <h5><%= person.name %></h5>
      <p class="ml-2">Poner para la Fiesta</p>
      <%= form_for([@expense, person.expenses.build]) do |form| %>        

          <%= form.hidden_field :person_id, value: person.id %>

          <p class="ml-4">
            <%= form.label :Producto %><br>
            <%= form.select :article_id,  @articles.collect {|p| [ p.name, p.id ] } %> 
            <%= form.number_field :price, placeholder: "Precio" %>
            <%= form.submit 'Guardar' %>
          </p>  
      <% end %>
    </p>
<% end %>

<h2>Alguien mas?</h2>

<%= form_for([@event, @event.people.build]) do |form| %>

  <p>
    <%= form.text_field :name, placeholder: "Nombre" %>
    <%= form.submit 'Guardar' %>
  </p>

<% end %>



<%= link_to 'Calcular Gasto', expense_path(@event), {:class=>"genric-btn primary circle arrow" } %>
<%= link_to 'Volver', events_path, {:class=>"genric-btn primary circle arrow" } %>