<h1>Gasto</h1>

<% @event.expenses.each do |expense|%>

  <p><%= expense.price %></p>
  <p><%= expense.person.name %></p>
  <p><%= expense.article.name %></p>

<% end %>

<p>total</p>

<p>
  Gasto total:
  <%= @event.expenseSum %><br>
  Personas:
  <%= @event.people.count %> <br>
  TaP:
  <%= @event.promedio %><br>
  <% @event.people.each do |person|%>
    <%= person.id %> 
    <%= person.total_expense - @event.promedio %> 
    -------------
    <br>
  <% end %>
</p>
<%= link_to 'Volver', events_path, {:class=>"genric-btn primary circle arrow" } %>

